<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Don't talk to me, I'm busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>My name is Betsie and I'm currently a computer Science student in training. I love Boston - never leaving - and I love meeting new people and 
          learning about them. The current mood and motto of today is (like one of my friends says), make your life amazing! 
          .</p>
    </div>
  </main>
</body>
</html>